@charset "utf-8";
@namespace epub "http://www.idpf.org/2007/ops";
@namespace xml "http://www.w3.org/XML/1998/namespace";

body [xml|lang]{
	font-style: italic;
}

[epub|type~="z3998:poem"] p,
[epub|type~="z3998:song"] p{
	text-align: initial;
	text-indent: 0;
}

[epub|type~="z3998:poem"] p > span,
[epub|type~="z3998:song"] p > span{
	display: block;
	padding-left: 1em;
	text-indent: -1em;
}

[epub|type~="z3998:poem"] p > span + br,
[epub|type~="z3998:song"] p > span + br{
	display: none;
}

@supports(display: inline-flex){
	#chapter-6 > p > span{
		align-items: center;
		display: inline-flex;
		text-indent: 0;
	}

	#chapter-6 > p > span > span:nth-child(2){
		font-size: 4em;
	}

	#chapter-6 > p > span > span:last-child > span{
		display: block;
	}
}
